.opciones_menu{
    display: inline-block;
    
}
body{
    background-color: #f9fafb;
}
.titul{
    margin-top: 140px;
}
.img-text-contenedor{
    max-width: 900px;
    min-width: auto;
    margin: 0 auto;
}

.Imagen{
   
    width: 600px;
    height: 400px;
}
.img_text{
    display: inline-block;
    position: absolute;
    left:0;
}
.BarraProgreso{
    margin-top: -10px;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10px;
}
.Barra{
    width: 0%;
    height: 5px;
    background-color: #1776b3;
}
.titulo_resal{
    color: #1a2633;
}
.titulo_pack{
    
    text-align: left;
    margin: 10px;
    color: #1a2633;
    font-size: 1.2rem;
}
.lista_temas{
    text-align: left;
}
.tema{
    color: #1a2633;
    font-size: 1.2rem;
}
.sub_tema{
    text-decoration: none;
    color: #6f7685;
}
dd{
    color: #6f7685;

    font-size: 1rem;
}
.Dash{
    background: rgba( 249, 250, 251, 0.75 );
    box-shadow: 0 1px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.Barra_nav{
    background-color: #f9fafb;
    z-index: 10;
}
.dividir-pack{

    color: #6f7685;
 
}
.text-pack{
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;

}
.text-img{
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    display: inline-block;
}
.Buscador{
    border-radius: 3px;
    border:0;
    outline: none;
    border-bottom: 2px solid black;
    width: 180px;
    text-align: center;
}
.texto_opciones_menu{
    text-decoration: none;
    text-align: center;
    margin: 10px;
    font-size: large;
    color: black;

}
.contenido{
    text-align: center;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 70px;
  


}
.sombra{
    width: 100%;
    height: 2px;
    
}
.nav_iframe{
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 10px;
    margin-top: 0px;
    position:fixed; top:0;
}
.fot{
        overflow: hidden;
    background-color:#007bff;

}
.nav_iframe_frame{
   
    width: 100%;
    height: 100px;
    scroll-behavior: auto;
}
::-webkit-scrollbar {
    display: none;
    }
.menu{
    margin: 10px;
    float: right;
    text-align:right;

}
.lista_preguntas_auto{
    text-align: left;
}
.lista_preguntas_auto a{
    text-transform: uppercase;
    font-style: oblique;
    color: #7bb583;
    font-size: 1.5rem;
}
.Imagen_banner{
    display: inline-block;
    margin-left:50px ;
}
.botones-fondo{
    text-align: center;
    justify-content: space-between;
}
.boton-uno{
    margin-left: 10px;
    margin-bottom: 5px;
    color: #6f7685;
    text-decoration: none;
    font-size: 1.5rem;
}
.Bton_derecha{
    display: inline-block;
    text-align: right;
    width: 20%;
    
}
.Boton_Izquierda{
    display: inline-block;
    text-align: left;
    width: 20%;
   

}
.separador{
    display:inline-block;
    width: 58%;
    height: 10px;
    
}
.boton-dos{
    margin-bottom: 5px; 
    color: #6f7685;
    text-decoration: none;
    font-size: 1.5rem;
  
}
.contenedor_menu{
   overflow-y: hidden;
   margin-top: 20px;
   width: 100%;
   height: 50px;
}
.imagen_bien{
    max-height:200px;
    float: left;
    max-width: 350px;
    border-radius: 100px;
}
.hamburgesa{
    visibility: hidden;
}
.titulo_tema{
    margin: 10px;
    text-align: center;
    font-size: 2rem;
}

.texto_tema{
    line-height: 1.5rem;
    margin: 10px;
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    
}
/*Pruebas de contenido responsivo con em y rem*/
@font-face {
    font-family: "EncodeSans-VariableFont_wdth,wght";
    src: url("fonts/Encode_Sans/EncodeSans-VariableFont_wdth,wght.ttf");
  }
.contenedor_principal{
    margin-top: 130px;
    
    background-color:rgba( 249, 250, 251, 0.75 );  ;
    width: 100%;
    font-size: 16px;
}
.contenedor_secundario{
    margin: 0 auto;
    max-width: 95%;
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 5px;
    border: .5px solid rgba( 255, 255, 255, 0.18 );
    
}
.Titulos_responsivos{
    margin: 0 auto;
    text-align: center;
    
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-weight: 400;
    font-size: 2em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Separdor_de_titulos_bajo{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
    height: 0.1563rem;
    border-radius:100px;
    background-color: #7bb583;
}

.Separdor_de_titulos{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 95%;
    height: 0.1563rem;
    border-radius:100px;
    background-color: #1776b3;
}
.contenido_texto_imagenes_Responsivo{
    margin-top: 0.625rem;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    margin-bottom: 1.25em;
    display: grid;
    gap: 2%;
    margin-bottom: 1.25rem;
    
}

.contenedor_imagen{
    width: 100%; 
}
.contenedor_imagen img{
    width: 100%;
}
.contenedor_texto p{
    width: 100%;
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contenedor_texto li{
    width: 100%;
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;

}
.contenedor_texto{
    width: 100%;
  
}
.tabla_contenido_plataformas{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap: 1%;
    

}
.tabla_contenido_plataformas div{
    width: 100%;
    margin: 0 auto;

    text-align: center;
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;

    

}
.tabla_contenido_plataformas li{
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    text-align: left;
    font-size: 20px;
  
    

}
.separador_plata{
    visibility: hidden;
}
.celda_1{

    border-left:1px solid #1a2633;
    border-bottom:1px solid #1a2633;
}
.celda_2{
    border-left: 1px solid #1a2633;
    border-right:1px solid #1a2633;
    border-bottom:1px solid #1a2633;
}
.celda_3{
    border-bottom:1px solid #1a2633;
}
.celda_4{
    border-left: 1px solid #1a2633;
    border-right: 1px solid #1a2633;
    border-bottom:1px solid #1a2633;
}
.celda_1 p{
    visibility: hidden;  
}
.celda_2 p{
    visibility: hidden;
}
.celda_3 p{
    visibility: hidden;
}
.celda_4 p{
    visibility: hidden;
}
@media screen and (max-width:800px){
    .tabla_contenido_plataformas{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,50%);
        gap: 0%;
        font-size: 10px;
    
    }
    .tabla_contenido_plataformas li{
        text-align: justify;
        font-size: 10px;
        margin-right: 5px;
    
    }
    .tabla_contenido_plataformas li{
        text-align: justify;
        font-size: 10px;
        margin-right: 5px;
    
    }
    .separador_plata{
        margin: 0 auto;
        visibility: visible;
        width: 85%;
        height: 10px;
        border-bottom:1px solid #1a2633;
    }
    .celda_1{
        visibility: visible;
        border-left: 0px solid #1a2633;
        border-right:1px solid #1a2633;
        border-bottom:1px solid #1a2633;
    }
    .celda_2{
        visibility: visible;
        border-right:0px solid #1a2633;
        border-left: 1px solid #1a2633;
        border-bottom:1px solid #1a2633;
    }
    .celda_3{
        visibility: visible;
        border-right: 1px solid #1a2633;
        border-top: 1px solid #1a2633;
        border-bottom:0px solid #1a2633;
    }
    .celda_4{
        visibility: visible;
        border-left: 1px solid #1a2633;
        border-top: 1px solid #1a2633;
        border-right: 0px solid #1a2633;
        border-bottom:0px solid #1a2633;
    }
    .celda_1 p{
        visibility: visible;
    }
    .celda_2 p{
        visibility: visible;
    }
    .celda_3 p{
        visibility: visible;
        margin-left: 5px;
    }
    .celda_4 p{
        visibility: visible;

    }

    .contenedor_texto p{
        text-align: justify;
    }
    .contenido_texto_imagenes_Responsivo{
        margin-bottom: 1.25em;
        display:block;
    }
  
    #imagen_no_wrap{
        visibility: hidden;
        width: 0;
    }
    .contenedor_principal{
        font-size: 10px;
    }
    .img-text-contenedor{
      margin: 10px;
      width: 100%;
    }
    .hamburgesa{
        margin-left: 10px;
        visibility: visible;
    }
    .menu{
        visibility: hidden;
    }

    .Imagen_banner{
        display: inline-block;
        margin-left: 28%;
    }
    .imagen_bien{

        margin: 0 auto;
        width: 100%; 
        float:none;
    }
  
}
