.opciones_menu{
    display: inline-block;
    
}
body{
    background-color: #f9fafb;
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    margin: 0;
}
.titul{
    margin-top: 140px;
}
.indice_contenedor{
    margin: 0 auto;
    width: 95%;
    background-color: #f9fafb;
    border-radius: 0.625em;
    margin-bottom: 3.125em;
}
.cont_introduccion_indice{
    width: 100%;
    height: 100%;
}
.controles{
    display: grid;
    margin: 0 auto;
    grid-template-columns:20% 60% 20%;
    align-items: right;

}
#estado_del_arte_control{
    font-size: 0.9375em;
    color: #6f7685;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
 
}
#estado_del_arte_control:focus,
#estado_del_arte_control:hover {
  color: #1a2633;
}

#estado_del_arte_control:focus:after,
#estado_del_arte_control:hover:after {
  width: 100%;
  left: 0%;
}

#estado_del_arte_control:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: red;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.indice_introduccion{
    width: 95%;
    height: 90%;
    transition: opacity 1s;
   
}
#controles_dialog{
    display:none;
}
.indice_dialog{
    width: 95%;
    height: 90%;
    transition: opacity 1s;
}
#dialog_indice{
    display:none;
}
#uno_estado{
    width: 95%;
    height: 90%;
    display:none;
    transition: opacity 1s;

}
#controles_estado{
    display:none;
}

.img-text-contenedor{
    max-width: 900px;
    min-width: auto;
    margin: 0 auto;
}
.contenido_ventjas_gen{
    font-size: 16px;
}
.plat_iframe{
    width: 100%;
    height: 100%;
}
.Imagen{
   
    width: 600px;
    height: 400px;
}
.img_text{
    display: inline-block;
    position: absolute;
    left:0;
}
.BarraProgreso{
    margin-top: -10px;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10px;
}
.Barra{
    width: 0%;
    height: 5px;
    background-color: #1776b3;
}
.titulo_resal{
    color: #1a2633;
}
.titulo_pack{
    
    text-align: left;
    margin: 10px;
    color: #1a2633;
    font-size: 1.2rem;
}
.lista_temas{
    text-align: left;
}
.tema{
    color: #1a2633;
    font-size: 1.2rem;
}
.sub_tema{
    margin-left: 0.625em;
    text-decoration: none;
    color: #6f7685;
}
dd{
    color: #6f7685;

    font-size: 1rem;
}
.Dash{
    background: rgba( 249, 250, 251, 0.75 );
    box-shadow: 0 1px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.Barra_nav{
    background-color: #f9fafb;
    z-index: 10;
}
.dividir-pack{

    color: #6f7685;
 
}
.text-pack{
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;

}
.text-img{
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    display: inline-block;
}
.Buscador{
    border-radius: 3px;
    border:0;
    outline: none;
    border-bottom: 2px solid black;
    width: 180px;
    text-align: center;
}
.texto_opciones_menu{
    text-decoration: none;
    text-align: center;
    margin: 10px;
    font-size: large;
    color: black;

}
.contenido{
    text-align: center;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 70px;

}
.sombra{
    width: 100%;
    height: 2px;
    
}
.nav_iframe{
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 10px;
    margin-top: 0px;
    position:fixed; top:0;
}
.fot{
        overflow: hidden;
    background-color:#007bff;

}
.nav_iframe_frame{
   
    width: 100%;
    height: 100px;
    scroll-behavior: auto;
}
::-webkit-scrollbar {
    display: none;
    }
.menu{
    margin: 10px;
    float: right;
    text-align:right;

}
.lista_preguntas_auto{
    text-align: left;
}
.lista_preguntas_auto a{
    text-transform: uppercase;
    font-style: oblique;
    color: #7bb583;
    font-size: 1.5rem;
}
.Imagen_banner{
    display: inline-block;
    margin-left:50px ;
}
.botones-fondo{
    text-align: center;
    justify-content: space-between;
}
.boton-uno{
    margin-left: 10px;
    margin-bottom: 5px;
    color: #6f7685;
    text-decoration: none;
    font-size: 1.5rem;
}
.Bton_derecha{
    display: inline-block;
    text-align: right;
    width: 20%;
    
}
.Boton_Izquierda{
    display: inline-block;
    text-align: left;
    width: 20%;
   

}
.separador{
    display:inline-block;
    width: 58%;
    height: 10px;
    
}
.boton-dos{
    margin-bottom: 5px; 
    color: #6f7685;
    text-decoration: none;
    font-size: 1.5rem;
  
}
.contenedor_menu{
   overflow-y: hidden;
   margin-top: 20px;
   width: 100%;
   height: 50px;
}
.imagen_bien{
    max-height:200px;
    float: left;
    max-width: 350px;
    border-radius: 100px;
}
.hamburgesa{
    visibility: hidden;
}
.titulo_tema{
    margin: 10px;
    text-align: center;
    font-size: 2rem;
}

.texto_tema{
    line-height: 1.5rem;
    margin: 10px;
    color:#6f7685;
    font-size: 1.2rem;
    text-align: justify;
    
}
/*Pruebas de contenido responsivo con em y rem*/

.contenedor_principal{
    margin-top: 130px;
    
    background-color:rgba( 249, 250, 251, 0.75 );  ;
    width: 100%;
    font-size: 16px;
}
.contenedor_secundario{
    margin: 0 auto;
    max-width: 95%;
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 5px;
    border: .5px solid rgba( 255, 255, 255, 0.18 );
    
}
.Titulos_responsivos{
    margin: 0 auto;
    text-align: center;
    
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-weight: 400;
    font-size: 2em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Separdor_de_titulos_bajo{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
    height: 0.1563rem;
    border-radius:100px;
    background-color: #7bb583;
}

.Separdor_de_titulos{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 95%;
    height: 0.1563rem;
    border-radius:100px;
    background-color: #1776b3;
}
.contenido_texto_imagenes_Responsivo{
    margin-top: 0.625rem;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    margin-bottom: 1.25em;
    display: grid;
    gap: 2%;
    margin-bottom: 1.25rem;
    
}

.contenedor_imagen{
    width: 100%; 
}
.contenedor_imagen object{
    width: 100%;
}
.contenedor_imagen img{
    width: 100%;
}
.contenedor_texto p{
    width: 100%;
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contenedor_texto li{
    width: 100%;
    font-family:"EncodeSans-VariableFont_wdth,wght",Impact;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;

}
.contenedor_texto{
    width: 100%;
  
}
.contenido_indice{
    align-items: center;

    display: grid;
    gap: 1em;
    grid-template-columns:29% 69%;
    overflow: hidden;
    width: 100%;
    text-align: justify;
    font-size: 1.8em;
    border-radius: 1rem;
    box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
    border: 0.0313em solid #6f7685;

}
.sub_contenido{
    margin: 0.625em;
    width: 100%;
    overflow: hidden;
    border-right: .5px outset ;
  
    
}
.iframe_lateral{
    width: 100%;
    height: 380px;
    overflow:scroll;
    margin: 10px;
    scroll-behavior: smooth;

    

}

#plataformas{
    font-style: none;
    margin: 0 auto;

}
.sub_contenido li{
    font-style: none;
    
}
.sub_contenido a{
    font-style: none;
    text-decoration: none;
    color: #1a2633;
    overflow: hidden;

}
.ventas_desventajas{
    overflow: hidden;
    width: 95%;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: justify;
    color: #1a2633;
    font-size: 1.2em;
    
}

.ventajas{
    margin: 0 auto;
    width: 100%;
   
    grid-column: 1 / 1;
}
.desventajas{
    margin: 0 auto;
    width: 100%;
    
    grid-column: 2 / 3;

}
.Costos{
    margin: 0 auto;
    width: 100%;
    
    grid-column: 3 / 3;

}
.Costos p{
    text-align: center;
}
.plat_grid li :hover{
    color: #7bb583;
    
}

.menu_lateral{
    width: 25%;
    height: 650px;
    background-color: #007bff;
    position:fixed; top:0; 
    float: left;
    z-index: 20;
    opacity: .95;
    visibility: hidden;
    margin: 0 auto;
    align-items: center;
    overflow-y: scroll;
}
.Mostar_menu_lateral{
    width: 25%;
    height: 650px;
    position:fixed; top:0; 
    float: left;
    z-index: 20;
    opacity: .95;
    margin: 0 auto;
    align-items: center;
    overflow-y: scroll;
}
.Header_Indice{
    display: grid;
    grid-template-columns:80% 10%;
    width: 90%;
    gap:1.25rem;
    margin: 0 auto;
    margin-top: 0.625em;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    vertical-align: middle;
}
.titulo_indice{
 /*sdaf*/
 height: 100%;
}
#sub_menu_intro{
    width: 90%;
    display:none;
    text-align: justify;

}
#sub_menu_intro a{
    color: white;
    text-decoration: none;

}
#sub_menu_intro a:hover{
    text-decoration: underline;


}
#sub_menu_intro_2{
    width: 90%;
    display:none;
    text-align: justify;

}
#sub_menu_intro_2 a{
    color: white;
    text-decoration: none;

}
#sub_menu_intro_2 a:hover{
    text-decoration: underline;


}

#Estado_click{
    font-size: 1.25em;
}
#introduccion_click{
    font-size: 1.25em;
}
.indice_lateral li{
    color: white;
}
.boton_salir {
height: 100%;

}

.boton_salir svg{
    opacity: .6;
   float: right;
}
.button_lateral{
    margin: 0 auto;
    opacity: .5;
    margin-top:100px;
    position:fixed; top:0;
    float: left;
    z-index: 20;
    align-items: center;

}

.button_lateral div{
    background-color: #f9fafb;
    width: 25px;
    height: 700px;
    margin: 0 auto;
    align-items: center;
    z-index: 21;
    
}
.li_un{
    font-style: none;
    color: #1a2633;
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: #007bff;
    padding: 1em 0;

    
}
.navegacion_atras_a_delante{
    display: grid;
    grid-template-columns:50% 50%;
    margin: 0 auto;
    width: 100%;
    font-size: 1.3em;
    
    

}
.anterior{
    margin: 10px;
    text-align: left;
}
.siguiente{
    margin: 10px;
    text-align: right;
}





@media screen and (max-width:800px) {
  
    .plat_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 15px;
    
    }
    .contenido_indice{
        display: block;
        border-right: none ;

    }
    .contenedor_principal{
        font-size: 12px;
    }
    .contenido_ventjas_gen{
        font-size: 12px;
    }
    
}

@media screen and (max-width:650px){
    .controles{
        grid-template-columns:40% 20% 40%;
    }
    .menu_lateral{
        width: 100%;
        height: 100%;
    }
    .button_lateral{
        margin-top: 25px;
        opacity: .7;
    }
    .plat_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-size: 15px;
    
    }
    
    .contenido_ventjas_gen{
        font-size: 12px;
    }
    .contenido_indice{
        display: block;
        border-right: none ;

    }
    .ventas_desventajas{
     align-items: center;
     display: block;
     margin: 0 auto;
    }
    .separador_plata{
        margin: 0 auto;
        visibility: visible;
        width: 85%;
        height: 10px;
        border-bottom:1px solid #1a2633;
    }
    .contenedor_texto p{
        text-align: justify;
    }
    .contenido_texto_imagenes_Responsivo{
        margin-bottom: 1.25em;
        display:block;
    }
  
    #imagen_no_wrap{
        visibility: hidden;
        width: 0;
    }
    .contenedor_principal{
        font-size: 12px;
    }
    .img-text-contenedor{
      margin: 10px;
      width: 100%;
    }
    .hamburgesa{
        margin-left: 10px;
        visibility: visible;
    }
    .menu{
        visibility: hidden;
    }

    .Imagen_banner{
        display: inline-block;
        margin-left: 28%;
    }
    .imagen_bien{

        margin: 0 auto;
        width: 100%; 
        float:none;
    }
  
}
